[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.4"
astroid = "==2.5.6"
django-crum = "==0.7.9"
django-extensions = "==3.1.5"
django-widget-tweaks = "==1.4.8"
django = "==3.2.4"
isort = "==5.8.0"
lazy-object-proxy = "==1.6.0"
mccabe = "==0.6.1"
numpy = "==1.19.5"
pandas = "==1.1.5"
pep8 = "==1.7.1"
pillow = "==8.2.0"
psycopg2-binary = "==2.8.6"
psycopg2 = "==2.7.7"
pycodestyle = "==2.7.0"
pylint-django = "==2.5.3"
pylint-plugin-utils = "==0.7"
pylint = "==2.8.3"
python-dateutil = "==2.8.2"
pytz = "==2021.1"
six = "==1.16.0"
sqlparse = "==0.4.1"
toml = "==0.10.2"
typed-ast = "==1.4.3"
typing-extensions = "==3.10.0.0"
viewflow = "==0.0"
wrapt = "==1.12.1"
django-multiselectfield = "*"
django-ckeditor = "*"
django-smart-selects = "*"

[dev-packages]

[requires]
python_version = "3.6"
