arabic-reshaper==2.1.4
asgiref==3.3.4
astroid==2.5.6
attrs==22.1.0
dataclasses==0.8
Django==3.2.4
django-ckeditor==6.3.2
django-crum==0.7.9
django-extensions==3.1.5
django-js-asset==2.0.0
django-multiselectfield==0.1.12
django-smart-selects==1.6.0
django-widget-tweaks==1.4.8
future==0.18.2
html5lib==1.1
importlib-metadata==4.8.3
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pep8==1.7.1
Pillow==8.2.0
pluggy==1.0.0
psycopg2==2.7.7
psycopg2-binary==2.8.6
py==1.11.0
pycodestyle==2.7.0
pylint==2.8.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.9
PyPDF2==2.11.2
pytest==7.0.1
pytest-django==4.5.2
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2021.1
reportlab==3.6.6
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
tomli==1.2.3
typed-ast==1.4.3
typing-extensions==3.10.0.0
viewflow==0.0
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
zipp==3.6.0
