{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} <link href="{% static 'img/Abordaje-al-varon.png'%}" rel="shortcut icon"> {% endcomment %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap46/css/bootstrap.min.css'%}">

    <title></title>
  </head>
  <body>
    

    <script src="{% static 'lib/bootstrap46/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap46/js/bootstrap.bundle.min.js'%}"></script>

  <div class="container-fluid ">
      <hr>
    <div class="card text-center">
        <div class="card-header">
          Abordaje Al Varon
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-justify">
          <p></p>
            
  
          <a href="{% url 'login' %}" class="btn btn-primary">Intranet</a>
        </div>
        <div class="card-footer text-muted">
            <strong>2022 <a href="http://www.desarrollosocial.mendoza.gov.ar/planificacion-social/">SPSIS</a></strong>
        </div>
      </div>
<hr>
  </div>

  </body>
</html>